<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="CSS/login.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@700&family=Raleway:wght@300;600&family=Roboto+Slab:wght@300;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Iniciar Sesion</title>
</head>
<body>
    <header>
        <div class="contenedor-encabezado">
            <div class="logo" id="logo">
                <img src = "images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" href="/">
            </div>
        
           <div class="buscador" id="barra-buscador">
              <form action="GET">
                   <input type="text" placeholder="Buscar productos, marcas y mas...">
                   <button><i class="fas fa-search" id="boton"></i>
                   </button>
               </form>
           </div>
        
           <div class="formas-de-pago">
              <p>
                  <i class="fas fa-hand-holding-usd"></i>
                  Compra en coutas y sin tarjeta de credito
              </p>
           </div>
        </div>
        
        <div class="navegadores">
            <nav class="navbar">
                 <ul class="navbar-items">
                     <li><a href="#">Ofertas</a></li>
                     <li><a href="#">Tiendas Oficiales</a></li>
                     <li> <a href="#">Vender</a></li>
                     <li><a href="#">Ayuda</a></li>
                 </ul>     
                 <ul class="navbar-items">
                     <li><a href="/register">
                       <i class="fas fa-id-card"></i>Crea tu cuenta</a></li>
                     <li><a href="/login">
                       <i class="fas fa-sign-in-alt"></i>Ingresar</a></li>
                     <li><a href="#">
                       <i class="fas fa-shopping-basket"></i>Mis compras</a>  </li>      
                 </ul>
          </nav>
     </div>
        
         <div class="burger-menu">
             <button class="burger-menu" >
                 <i class="fa fa-bars burger" id="menu-hamburguesa"></i>
             </button>
         </div>


    </header>   

    <main>
     
      <div class="formulario">

           <h1>¡INGRESA!</h1>
       
          <form action="/" method="GET">

            <div class="caja-input">

                <label for="Usuario">Ingresa el Usuario:</label>
                  <input type="text" name="Usuario" placeholder="Usuario_9875">
              </div>
             
              <div class="caja-input">
                <label for="Contraseña">Contraseña:</label>
                  <input type="password" name="Contraseña" placeholder="*********">
           </div>

              <div class="botones">
                 <input type="submit" value="Ingresar" href="/" class="boton">
               </div>

            </form>         
       </div> 
    </main>

    <footer>
        <div class="footer-items" id="caja5"></div>

        <div class="items">
            <div class="icono-item">
                <i class="fas fa-credit-card"></i>
            </div>
            <h5 class="titulo-item">Paga con tarjeta o en efectivo</h5>
            <p class="descricipcion-item">
               Con MercadoLiebreCash tenes coutas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!
            </p>
        </div>

        <div class="items">
            <div class="icono-item">
               <i class="fas fa gift"></i>
            </div>
            <h5 class="titulo-item">Envio gratis desde los $ 2.500</h5>
            <p class="descricipcion-item">
               Solo por estar regitrad@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.
            </p>
        </div>

        <div class="items">
            <div class="icono-item">
                <i class="fas fa-user-shield"></i>
            </div>
            <h5 class="titulo-item">Seguridad de pricipio a fin</h5>
            <p class="descricipcion-item">
               ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.
            </p>
        </div>

        <div class="items">
          <p class="Copyright">
              Copyright © 1999-2020 MercadoLiebre S.R.L.
          </p>
        </div>
        
    </footer>

</body>
</html>